@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

.header,
.footer,
.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-subtext,
a {
    font-size: 18px;
    color: #e5e7eb;
}

button,
.sign-up-text,
.sign-up-subtext {
    background-color: #3882f6;
    color: #f9faf8;
}

.info-text {
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.footer,
.hero-image {
    color: #f9faf8;
}